.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}       
.loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fa236e;
  border-color: #fa236e transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.rating-outer {
  font-size: x-large;
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #fd0d69;
}

.rating-outer::before {
  content: '\f006 \f006 \f006 \f006 \f006';
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #fd0d69;
}


/* for marquee */
.marquee {
  width: 100%;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

/* for pagination */

.pagination {
    display: flex;
}

/*shop filter  */
.ant-drawer .ant-drawer-body {
  padding-left: 0 !important;
}

/* for cart empty logo */
.ant-empty .ant-empty-image svg {
  width: 200px;
  height: 200px;
  margin: auto;
}
.ant-empty .ant-empty-description {
  color: rgba(0, 0, 0, 0.88);
  margin-top: 100px;
  font-weight: 700;
}

/* modal close(X) button */

 .ant-modal-close-icon{
  margin-left: 0 !important

}

/* modal height */
.ant-modal-content{
  height: 354px;
}

/* rating star */
.anticon-star{
  margin-left: 0 !important

}